/* Target the section */

section {
  padding: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 1.5em;
  width: 80%;
  margin: 0 auto;
}

section .img-container {
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  width: 100%;
  align-items: center;
}

.img-wrapper img {
  display: flex;
  width: 100%;
  height: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  overflow-wrap: break-word;
}

section h2,
h3 {
  text-transform: uppercase;
  color: #000000;
  line-height: 0;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

section h3 {
  text-align: center;
  font-size: 1.5rem;
}

.cta-button {
  width: 90%;
  height: 40px;
  border-radius: 0;
  border: none;
  background-color: #888888;
  color: #ffffff;
  margin: 20px auto 0;
  cursor: pointer;
}

/* ul {
  text-align: left;
} */

/* section ul li {
  margin: 0;
  padding: 0;
  text-align: left;
} */

.feature-points {
  list-style-type: none;
  padding-left: 0;
}

.feature-points li {
  display: none;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
}

/* Style for bullet point features */
.feature-points li.active {
  display: block;
  animation: zoomup 100s linear;
  animation-delay: calc(100ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #000;
    filter: blur(1px);
    text-shadow: 0 0 2px #000, 0 0 4px #000, 0 0 6px #000,
      0 0 8px #000, 0 0 10px #000, 0 0 12px #000, 0 0 14px #000,
      0 0 16px #000;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}

/* Small screen device */
@media screen and (max-width: 750px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  section h2 {
    font-size: 24px;
    text-align: center;
  }

  section h3 {
    text-align: center;
    font-size: 16px;
  }
}
